__pycache__/
.venv/
venv/
.vscode/
.idea/
htmlcov/
dist/
workspace/
pilot-env/
venv/

.coverage
*.code-workspace
.*_cache
.env
*.pyc
*.db
*.db-shm
*.db-wal
config.json
poetry.lock
.DS_Store
*.log
pythagora-vs-code.vsix
