blessed==1.20.0
certifi==2023.7.22
charset-normalizer==3.3.2
colorama==0.4.6
distro==1.8.0
idna==3.4
jsonschema==4.19.2
Jinja2==3.1.2
MarkupSafe==2.1.3
peewee==3.16.3
prompt-toolkit==3.0.40
psutil==5.9.6
psycopg2-binary==2.9.9
python-dotenv==1.0.0
python-editor==1.0.4
pytest==7.4.2
pyyaml==6.0.1
questionary==1.10.0
readchar==4.0.5
regex==2023.10.3
requests==2.31.0
six==1.16.0
termcolor==2.3.0
tiktoken==0.5.2
urllib3==1.26.7
wcwidth==0.2.8
yaspin==2.5.0
