    <footer class="footer fixed-bottom bg-light" style="background-color: #24232B!important;">
      <div class="container d-flex justify-content-center align-items-center" style="height: 100%;">
        <span style="color: white;">Built with</span>
        <img class="pythagora-logo" src="https://s3.amazonaws.com/assets.pythagora.ai/logos/pythagora_full_logo.png">
      </div>
    </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

